body{
    
    background-color: #fed46b;
    font-family: "Rajdhani", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color:#48352a;
}
span{
    margin:0;
    padding:0;
    font-size: .7rem;
}
.nav-el{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: #fed46b;
    padding:15px 10px;
    margin:0;
    box-sizing: border-box;
}
.main-ul{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin:0;
    padding:0;
    /*&:hover{
        opacity: 1;
    }
    &:hover>li:not(:hover){
        opacity: 0.25;
        transform: scale(0.9);}*/
}
.main-li{
    text-align: center;
    list-style-type: none;
    margin:0 30px;
    padding:0;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .35s;
    border-bottom:transparent 4px solid;
    color:#48352a;
}
.main-li:hover{
    border-bottom: #48352a 4px solid;
 }
 .legal{
    display: flex;
}
.legal-img{
    display: flex;
    background-image: url("qrcode_shiftup.co.kr copie.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #48352a;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom:20px;
    left:20px;
}
.legal-content{
    display: flex;
    width:180px;
    height:90px;
    color: #fed46b;
    background-color: #48352a;
    position:fixed;
    font-size: .624rem;
    padding:10px 5px 0px 5px;
    bottom:20px;
    left:120px;
}
.content-el{
    /*background-image: url("Stellar-soluce-copie.png") ;
    background-size: contain;*/
    display: flex;
    margin: 50px 0 0 0;
}
.main-menu{
    display: flex;
    margin:50px 0;
    width:300px;
    height:auto;
    box-sizing: border-box;
}
.ue-el-main-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:#48352a;
    font-size: large;
    font-weight: 500;
    list-style: none;
    box-sizing: border-box;

    &, a{
        color:#48352a;
    }
}
.ue-el-main-menu-selector {
    color:#48352a;
    margin:5px 0;
    padding:5px 10px;
    width: 250px;
    
    &:hover{
        background-color:#b13430;
        color:#fed46b;
        cursor: pointer;
    }
}
.submenu{
    width:100%;
    height:46px;
    margin:1px auto;
}
.submenu-arsenal{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:0;
}
.ue-el-submenu-arsenal{
    display: flex;
    padding: 10px 20px;
    list-style: none;
    margin:0;

    &:hover>li:not(:hover){
        opacity: 0.25;}
}
.li-el-submenu-arsenal{
    margin:0px 20px;
    transition:.35s;
    border-bottom: 2px solid transparent;
    
&:hover{
    border-bottom: 2px solid #48352a;
    }
}
.submenu-outside{
    display:flex; /* mettre "none" || "block" pour faire disparaitre/apparaitre*/
    justify-content: center;
    margin: 0;
    cursor: pointer;
}
.ue-el-submenu-outside{
    display: flex;
    margin:0;
    padding: 10px 20px;
    list-style: none;

    &:hover>li:not(:hover){
        opacity: 0.25;
        }
}
.li-el-submenu-outside{
    margin:0 20px;
    border-bottom: 2px solid transparent;
    transition:.35s;
    
    &:hover{
        border-bottom: 2px solid #48352a;

    }
}
.container-content{
    display: flex;
    flex-direction:row;
    width: 100%;
    margin:40px 0 120px 310px;
    height: auto;
    box-sizing: border-box;
    /*border: 3px solid #b13430;*/
}
.display-arsenal{
    display: flex;
    flex-direction: row;
    /*border:5px solid #b13430;*/
}
.menu-nano-suit{
    display: flex;
    /*border: 5px solid #b13430;*/
}
.ue-el-menu-nano-suit{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fed46b;
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    height: 100%;
    max-height: 1000px;
    overflow-y: scroll;
    scrollbar-color: #b13430 transparent;
    scrollbar-width: thin;
    cursor: pointer;
    margin: auto 20px;
    padding:10px 20px;

}
.li-el-menu-nano-suit{
    background-color: #48352a;
    margin:3px 0;
    padding:12px 20px;

    &:hover  {
        background-color: #b13430;
        color: #fed46b;
    }
}
h1{
    display: flex;
    justify-content: start;
    font-size: 2rem;
    margin:20px 0;
}
h3{
    margin:5px 0px;
}
p{
    margin: 0;
    width: 100%;
}
.nano-suit-txt{
    display: flex;
    flex-direction: column;
    width: 75%;
    height:100%;
    text-align: justify;
    /*border:3px solid white;*/
    box-sizing: border-box;
}
.nano-suit-content{
    display: none;
    /*border:5px solid #48352a;*/
        &, a{
            color:#48352a;
        } 
    }
.nano-suit-title{
    display:flex;
    flex-direction:row;
    margin:20px 0;
}
.nano-suit-description{
    display: flex;
    justify-content: start;
    align-content: center;
    margin:150px 0;
    z-index: 1;
    /*border: 5px solid blue;*/
}
.nano-suit-img{
    width: auto;
    max-height: 100%;
    height: 75%;
    min-height: 50%;
    position: absolute;
    right:10%;
    z-index:0;
    /*border:5px solid #b13430;*/
}
.nano-img{
    display: flex;
    justify-content: center;
    align-content: center;

    /*background-image: url("PNG/IMG_001.png");*/
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:100%;
    /*border:10px solid #b13430;*/
}
